<html>
   <head>
     <title>RestMQ: Main Routes and Endpoints</title>
   </head>
   <body>
     <h1>RestMQ</h1>
     <h2>Main Routes and Endpoints</h2>
     <ul>
       <li><a href="/"><b>/</b>: Main Handler (Endpoint for QueryString GET/POST Requests)</a></li>
       <li><a href="/q"><b>/q</b>: Queues (Endpoint for REST)</a></li>
       <li><a href="/c"><b>/c</b>: Queues (Comet endpoint)</a></li>
       <li><a href="/ws"><b>/ws</b>: Queues (WebSocket endpoint)</a></li>
       <li><a href="/queue"><b>/queue</b>: Queues (Endpoint for JSON protocol)</a></li>
       <li><a href="/p"><b>/p</b>: Queue Police Handler</a></li>
       <li><a href="/j"><b>/j</b>: Queue Info Handler</a></li>
       <li><a href="/stats"><b>/stats</b>: Queue stats Handler</a></li>
       <li><a href="/control"><b>/control</b>: Queue Police Handler (start/stop)</a></li>
     </ul>
   </body>
 </html>
