<html>
   <head>
     <title>main routes and endpoints</title>
   </head>
   <body>
     <ul>
       <li><a href="/">Main Handler (Endpoint for QueryString GET/POSTRequests)</a></li>
       <li><a href="/q">Queues (Endpoint for REST)</a></li>
       <li><a href="/c">Queues (Comet endpoint)</a></li>
       <li><a href="/ws">Queues (WebSocket endpoint)</a></li>
       <li><a href="/queue">Queues (Endpoint for JSON protocol)</a></li>
       <li><a href="/p">Queue Police Handler</a></li>
       <li><a href="/j">Job Queue Info Handler</a></li>
       <li><a href="/stats">Queue stats Handler</a></li>
       <li><a href="/control">Queue Police Handler (start/stop)</a></li>
     </ul>
   </body>
 </html>
